@model projeto_automatizador_cv.Models.Curriculo

@{
    ViewData["Title"] = "Delete";
}

<body class="body-pages" style="background-color: #EDEDED">
    <h1>Você tem certeza que deseja apagar o currículo?</h1>
    <hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posicao)
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Candidato" />
        <a asp-action="Index" class="btn" style="width:10%; color: #ffffff;background-color: #B02a87; border-radius: 5px; border: 1px solid #B02a87;">
                Voltar
        </a>
            <input type="submit" value="Apagar" class="btn" style="width:10%; color: #ffffff;background-color: #B02a87; border-radius: 5px; border: 1px solid #B02a87;">
    </form>
</div>
</body>
