@model projeto_automatizador_cv.Models.Curriculo

@{
    ViewData["Title"] = "Detalhes";
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

<main class="main-details" style="background-color: #ffffff">
   <div class="cv-content">
   <div>
        <img src="~/css/img/cv-logo.jpg" class="cv-logo" alt="Logo GFT">
   </div>

    <dl class="dl-conteiner">
        <dd class="dd-name">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <hr />
        <dd class="dd-position">
            @Html.DisplayFor(model => model.Posicao)
        </dd>
    </dl>
    <br />
    <dl class="dl-conteiner">
        <dt class="dt-title">
            @Html.DisplayNameFor(model => model.Resumo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resumo)
        </dd> 
    </dl>
    <dl class="dl-conteiner">
        <dt class="dt-title">
            @Html.DisplayNameFor(model => model.Competencias)
        </dt>
        <dd class="dd-info">
            @Html.DisplayFor(model => model.Competencias)
        </dd>
    </dl>
    <br />
    <hr /> 
    <p class="dd-info">Experiências Profissionais</p>
    <dl class="dl-experience">   
        <dd class="dd-experience">
            @Html.DisplayFor(model => model.Empresa)
        </dd>
        <dd class="dd-experience">
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dd class="dd-experience">
            @Html.DisplayFor(model => model.Inicio) - @Html.DisplayFor(model => model.Termino)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Atividades)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Atividades)
        </dd>
    </dl>
    <br />
    <hr />
    <dl class="dl-conteiner">
        <dt class="dt-title">
            @Html.DisplayNameFor(model => model.Formacao)
        </dt>
    <dd class="dd-info">
            <pre>@Html.DisplayFor(model => model.Formacao)</pre>
    </dd>
            @if (!string.IsNullOrEmpty(Model.Certificacoes))
            {
                <dt class="dt-title">
                    @Html.DisplayNameFor(model => model.Certificacoes)
                </dt>
                <dd class="dd-info">
                    <pre>@Html.DisplayFor(model => model.Certificacoes)</pre>
        </dd>
    }

            @if (!string.IsNullOrEmpty(Model.Cursos))
            {
                <dt class="dt-title">
                    @Html.DisplayNameFor(model => model.Cursos)
                </dt>
                <dd class="dd-info">
                    <pre>@Html.DisplayFor(model => model.Cursos)</pre>
                </dd>
            }
            @if (!string.IsNullOrEmpty(Model.Idiomas))
            {
                <dt class="dt-title">
                    @Html.DisplayNameFor(model => model.Idiomas)
                </dt>
                <dd class="dd-info">
                    <pre>@Html.DisplayFor(model => model.Idiomas)</pre>
                </dd>
            }
    </dl>
   </div>
</main>
<br />
<br />

<div class="form-group">
    <a asp-action="Index" class="btn" style="width:10%;color: #ffffff;background-color: #B02a87; border-radius: 5px; border: 1px solid #B02a87;">
        Voltar
    </a>
    <a asp-action="Edit" class="btn" style="width:10%;color: #ffffff;background-color: #B02a87; border-radius: 5px; border: 1px solid #B02a87;" asp-route-id="@Model?.Candidato">Editar</a>
    <button id="downloadButton" class="btn" style="width:10%;color: #ffffff;background-color: #B02a87; border-radius: 5px; border: 1px solid #B02a87;">Download</button>
</div>

<script>
    document.getElementById('downloadButton').addEventListener('click', function () {

        var element = document.querySelector('.cv-content');

        var options = {
            margin: 10,
            filename: 'curriculo.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
        };

        html2pdf(element, options);
    });
</script>
