@model projeto_automatizador_cv.Models.Curriculo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Curriculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resumo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resumo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Competencias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Competencias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Termino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Termino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Atividades)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Atividades)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Formacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Formacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Certificacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Certificacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cursos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cursos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idiomas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idiomas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Candidato">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
