@model IEnumerable<projeto_automatizador_cv.Models.Curriculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competencias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Termino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atividades)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Formacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Certificacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cursos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idiomas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Competencias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Termino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Atividades)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Formacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Certificacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cursos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idiomas)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Candidato">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Candidato">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Candidato">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
