@model IEnumerable<projeto_automatizador_cv.Models.Curriculo>

@{
    ViewData["Title"] = "Currículos";
}

<body class="body-pages" style="background-color: #EDEDED">
<h1>Currículos</h1>
<p>
    <a asp-action="Create" class="btn btn-custom">Novo Currículo</a>
</p>
    <table class="table" style="vertical-align: middle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Candidato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posicao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Candidato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posicao)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.Candidato" class="btn" style="width:20%;color: #000000;background-color: #D39CC6; border-radius: 5px;">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Candidato" class="btn" style="width:20%;color: #000000;background-color: #D39CC6; border-radius: 5px;">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.Candidato" class="btn" style="width:20%;color: #000000;background-color: #D39CC6; border-radius: 5px;">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>